.img_item {
    width: 90rpx;
    height: 90rpx;
    background-color: #ccc;
    margin-bottom: 20rpx;
    border: 2rpx solid #ccc;
    position: relative;
    image {
        width: 100%;
        height: 100%;
    }
    .iconfont {
        position: absolute;
        top: -10rpx;
        right: -10rpx;
        color: #eb4450;
        font-size: 30rpx;
    }
}
